<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin id="wmatrix-plugin-storage" type="basic" version="8.0.1.0">
	<name>storage</name>
	<description>Wmatrix Storage Plugin</description>
	<js-module name="storage" src="www/storage.js">
		<clobbers target="wmatrix.plugin.storage" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="PluginConfig.plist">
			<feature name="WMStoragePlugin">
				<param name="ios-package" value="WMStoragePlugin" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		<framework embed="true" src="src/WMStorage.framework" />
	</platform>
</plugin>