<?xml version="1.0" encoding="utf-8" standalone="no"?>
<plugin id="wmatrix-plugin-view" type="basic" version="8.0.1.0">
	<name>View</name>
	<description>WMatrix View Plugin</description>
	<js-module name="view" src="www/view.js">
		<clobbers target="wmatrix.plugin.view" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="PluginConfig.plist">
			<feature name="WMViewPlugin">
				<param name="ios-package" value="WMViewPlugin" />
			</feature>
		</config-file>
		<framework embed="true" src="src/WMView.framework" />
	</platform>
</plugin>